#business-profile ul {
  list-style: none;
}
#business-profile ul li:before {
  content:"\2714\0020";
}

div#business-profile h1 {
  text-align: center;
  padding-top: 50px!important;
}

div#business-profile p {
  text-align: center;
  font-size: 18px;
  margin-bottom: 0px;
}
div#business-profile h2 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

div#business-profile li {
  padding-bottom: 15px;
  font-size: 18px;
  text-align: center;
  line-height: 30px;
}

div#business-profile img {
  padding-top: 40px;
  padding-bottom: 20px;
}
